@charset "UTF-8";

@import "https://fonts.googleapis.com/css2?family=Oswald&display=swap";

body{
    background-color: rgb(249,218,120);
    font-family: "Oswald",sans-serif;
    font-size: 1.5rem;
    padding: 0px;
    margin: 0px;
}

#header {
    position: fixed;
    top: -0.3%;
    left: 30%;
    width: 100%;
    height: auto;
}

#header .navBar {
    width: 40%;
    height: 10%;
    background-color: rgb(249, 218, 120);
    align-items: center;
}

#header .navBar .logo{
    width: 10%;
}

.btn {
    display:inline-block;
    padding: 2% 5%;
    background-color: rgb(255, 165, 0);
    border: 4px solid rgb(0, 100, 200);
    font-size: 1rem;
    font-family: Impact, sans-serif;
}

.homeImage {
    width: 10%;
}

.homeContainer {
    height: 450px;
    padding: 10% 30%;
    background-color: aqua;
}

.homeContainer h1{
    font-size: 3.5rem;
    color: rgb(0, 150, 70);
    text-align: center;
    
}

.homeContainer h2{
    font-size: 3rem;
    color: blueviolet;
    text-align: center;
}

.image{
    width: 50%;
    margin-left: 25%;
}

#footer .footerContainer {
    background-color: coral;
}
#footer .footerContainer .logo{
    width: 5%;
    margin-left: 46.5%;
}

#footer .footerContainer h3{
    font-size: 1.5rem;
    color: green;
    text-align: center;
}