@charset "UTF-8";

@import "https://fonts.googleapis.com/css2?family=Oswald&display=swap";

body{
    background-color: rgb(249,218,120);
    font-family: "Oswald",sans-serif;
    font-size: 1.5rem;
    padding: 0px;
    margin: 0px;
}

#header {
    position: fixed;
    top: -0.3%;
    left: 30%;
    width: 100%;
    height: auto;
}

#header .navBar {
    width: 50%;
    height: 10%;
    background-color: rgb(249, 218, 120);
    align-items: center;
}

#header .navBar .logo{
    width: 80%;
}

.btn {
    display:block;
    padding: 2% 3%;
    background-color: rgb(255, 165, 0);
    border: 4px solid rgb(0, 100, 200);
    font-size: 1.5rem;
    font-family: Impact, sans-serif;
}

.homeContainer {
    height: 650px;
    padding: 10% 30%;
    background-color: aqua;
}

.homeContainer h1{
    font-size: 3rem;
    color: rgb(0, 150, 70);
    text-align: center;   
}

.homeContainer h2{
    font-size: 2.5rem;
    color: blueviolet;
    text-align: center;
    padding-top: 200%;
}

.image{
    width: 50%;
    margin-left: 25%;
}


.rightCol {
    float: right;
    width: 50%;
    height: 450px;
    background-color: cadetblue;
    padding-top: 40%;
}

.leftCol {
    float: left;
    width: 50%;
    height: 610px;
    background-color: cadetblue;
    padding-top: 35%;
}

.rightCol h1 {
    font-size: 3rem;
    color: blueviolet;
}

.rightCol p {
    font-size: 1.5rem;
    color: beige;
}

.leftCol .aboutImage {
    width: 30%;
    margin-top: 30%;
    margin-left: 30%;
}

.vid{
    width: 100%;
    background-color: cadetblue;
}

.vid video{
    padding-left: 30%;
}

.vid button {
    margin-left: 43.5%;
}

.projectsContainer {
    background-color: darkcyan;
    height: 1700px;
}

.projectsContainer h1{
    font-size: 3rem;
    color: blueviolet;
    text-align: center;
    padding-top: 30%;
}

.projectsContainer .projects .proj .projImg {
    width: 15%;
    margin-left: 43.5%;
    border: 3px solid green;
}

.projectsContainer .projects .proj .projImg2 {
    width: 20%;
    margin-left: 41.5%;
    border: 3px solid green;
}

.projectsContainer .projects .proj .projImg3 {
    width: 25%;
    margin-left: 39.5%;
    border: 3px solid green;
}

.projectsContainer .projects .proj .projDetails h3 {
    font-size: 2rem;
    color: chocolate;
    text-align: center;
}

.projectsContainer .projects .proj .projDetails p {
    font-size: 1.5rem;
    color: beige;
    text-align: center;
}

.contactContainer {
    background-color: darkturquoise;
}
.contactContainer h1{
    font-size: 3rem;
    color: blueviolet;
    text-align: center;
    padding-top: 40%;
}

.contactContainer .logo{
    width: 10%;
    margin-left: 45.5%;
    border: 3px solid green;
}

.contactContainer p label[for = "name"], label[for = "email"], label[for = "phone"], label[for = "comments"]   {
    margin-left: 43.5%;
    font-size: 1.5rem;
    color: crimson;
}

.contactContainer p label[for = "like"]{
    font-size: 1.5rem;
    color: crimson;
    
}

.contactContainer p input[type = "text"], textarea {
    width: 50%;
    border: 3px solid green;
    margin-left: 25%;
}

.contactContainer p input[type = "email"] {
    width: 50%;
    border: 3px solid green;
    margin-left: 25%;
}

.contactContainer p input[type = "tel"]{
    width: 50%;
    border: 3px solid green;
    margin-left: 25%;
}

.contactContainer p input[type = "checkbox"]{
    margin-left: 25%;
}

.contactContainer p input[type = "submit"] {
    margin-left: 43.5%;
}

.contactContainer p input[type = "reset"] {
    margin-left: 43.5%;
}

#footer .footerContainer {
    background-color: coral;
}
#footer .footerContainer .logo{
    width: 10%;
    margin-left: 46.5%;
}

#footer .footerContainer h3{
    font-size: 1.5rem;
    color: green;
    text-align: center;
}

#footer .footerContainer h5{
    font-size: 1rem;
    color: darkblue;
}

